<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout.html :: head"></head>
<body>
<div th:replace="layout.html :: content">

  <h2>Reservatie Bevestigd</h2>
  <p th:text="${message}"></p>
  <a href="/">Terug naar catalogus</a>

  <h2>Winkelmandje</h2>
  <ul>
    <li th:each="item : ${cartItems}">
      <h3 th:text="${item.name}">Productnaam</h3>
      <p th:text="${item.description}">Beschrijving</p>
      <button th:onclick="'/cart/remove/' + ${item.id}">Verwijder</button>
    </li>
  </ul>
  <button th:onclick="'/cart/checkout'">Bevestig Aankoop</button>
</div>
</body>
</html>
